<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainpageServlet</servlet-name>
        <servlet-class>cvut.fit.ddw.waageher.homework1.MainpageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Startup</servlet-name>
        <servlet-class>cvut.fit.ddw.waageher.homework1.Startup</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>cvut.fit.ddw.waageher.homework1.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TechnologiesServlet</servlet-name>
        <servlet-class>cvut.fit.ddw.waageher.homework1.TechnologiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainpageServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TechnologiesServlet</servlet-name>
        <url-pattern>/technologies</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
